In [1]:
import os
from os.path import normpath, join
import csv
import random

import pandas as pd
import numpy as np
import sklearn
import statsmodels.api as sm

from sklearn.metrics import roc_curve, auc

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## Load data from csv
** Load the data from the provided CSV. **  Assume csv is in the same directory as this Jupyter notebook.

In [2]:
CURRENT_DIRECTORY = os.getcwd()
TRAIN_CSV_NAME = "LoanStats3a-split-train.csv"
TEST_CSV_NAME = "LoanStats3a-split-test.csv"
train_filepath = normpath(join(CURRENT_DIRECTORY, TRAIN_CSV_NAME))
test_filepath = normpath(join(CURRENT_DIRECTORY, TEST_CSV_NAME))

print( "train_filepath: %s" % train_filepath)
print( "test_filepath: %s" % test_filepath)

training = pd.read_csv("LoanStats3a-split-train.csv")
test = pd.read_csv("LoanStats3a-split-test.csv")

train_filepath: /Users/jgroob/Documents/Resume/2017/Assignments/Octane Lending/lending-club-problem-11-07-2017/LoanStats3a-split-train.csv
test_filepath: /Users/jgroob/Documents/Resume/2017/Assignments/Octane Lending/lending-club-problem-11-07-2017/LoanStats3a-split-test.csv

## Performance Metric

In [3]:
def calculate_auc(y, y_pred):
    # y: an array of labels marking the actualy result as default (1) or non-default (0) 
    # y_pred: a probability that a row has defaulted
    # fpr: false-positive rate
    # tpr: true-positive rate
    
    fpr, tpr, thresholds = roc_curve(y, y_pred)
    auc_score = auc(fpr, tpr)
    return auc_score

## Setup default (y) variable

In [4]:
def is_default(row):
    if row in {"Charged Off", "Default"}:
        return 1.0
    elif row == "Fully Paid":
        return 0.0
    raise Exception("Invalid status: %s" % loan_status)

training['is_default'] = training['loan_status'].apply(is_default)
test['is_default'] = test['loan_status'].apply(is_default)

print("train_total: %s" % len(training['is_default']))
print("test_total: %s" % len(test['is_default']))

train_total: 15598
test_total: 2198

# Feature Engineering and Initial EDA

I want to quickly assess the correlation between the raw data and the default rates.  Any variables with a high correlation (positive or negative) will make a good candidate for using in a model.

Some initial ideas:
1. Look at comparison of raw data directly
2. Look at comparisons between factor variables.
2a. With factor variables, I'll need to convert to OHE so it's reasonable to only include the top results (i.e. those with enough support so that the results have predictive power).
3. Computed variables based on raw data.  
3a. Maybe look at time to time variables (i.e. time since last payment)
3b. Convert numerical values to OHE. (i.e. did the user default vs. time since last default)

In [7]:
# Converting time variables to epoch times

from datetime import datetime
from time import mktime

def date_to_epoch(df,col):
    temp = (df
            .apply(lambda x: np.NaN if pd.isna(x[col]) 
                   else mktime(datetime.strptime(str(x[col]), '%b-%Y').timetuple())
                   , axis=1))
    return(temp)

training['last_credit_pull_epoch'] = date_to_epoch(training,'last_credit_pull_d')
training['last_pymnt_epoch'] = date_to_epoch(training,'last_pymnt_d')
training['issue_epoch'] = date_to_epoch(training,'issue_d')
training['earliest_cr_line_epoch'] = date_to_epoch(training,'earliest_cr_line')
training['next_pymnt_epoch'] = date_to_epoch(training,'next_pymnt_d')

In [8]:
def term_to_month(df,col):
    temp = (df
           .apply(lambda x: int(x[col].split()[0])
                 , axis=1)
           )
    return(temp)

training['term_months'] = term_to_month(training, 'term')

In [9]:
# Clean-up percent variables.  convert to decimal.
def fix_percent(df,col):
    temp = (
        df
        .apply(lambda x: float(str(x[col]).split('%')[0])/100
                 , axis=1)
    )
        
    return(temp)

training['revol_util'] = fix_percent(training,'revol_util')

In [10]:
# Round / bucket numeric values to look at correlation to defaulting.
from math import floor

def trunc_decimal(df,col,trunc_value):
    temp = (df
           .apply(lambda x: np.NaN if pd.isna(x[col]) 
                   else floor(float(x[col])*trunc_value)/trunc_value
                 , axis=1)
           )
    return(temp)

def trunc_number(df,col,trunc_value):
    temp = (df
           .apply(lambda x: np.NaN if pd.isna(x[col]) 
                   else floor(float(x[col])/trunc_value)*trunc_value
                 , axis=1)
           )
    return(temp)

training['debtToIncome_trunc'] = trunc_number(training, 'dti',5)
training['revol_util_trunc'] = trunc_decimal(training,'revol_util',10)
training['revol_bal_trunc'] = (trunc_number(training, 'revol_bal',5000)
                               .apply(lambda x: 50000 if x>50000 else x)
                              )

In [11]:
def value_exists(df,col):
    temp = (
        df
        .apply(lambda x: 0 if pd.isnull(x[col]) else 1
              , axis=1)
    )
    return(temp)
    
training['previous_delinq'] = value_exists(training,'mths_since_last_delinq')

In [12]:
pd.options.display.max_columns = None
training.head(5)

,id,member_id,term,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,last_pymnt_d,next_pymnt_d,last_credit_pull_d,policy_code,random,is_default,last_credit_pull_epoch,last_pymnt_epoch,issue_epoch,earliest_cr_line_epoch,next_pymnt_epoch,term_months,debtToIncome_trunc,revol_util_trunc,revol_bal_trunc,previous_delinq
0,1069971,1304884,36 months,Duracell,10+ years,MORTGAGE,110000.00,not verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/15/11 > Payoff other le...,major_purchase,Holiday,067xx,CT,10.52,0,Aug-1993,0,NaN,NaN,20,0,22836,0.160,42,f,0.0,0.0,May-2013,NaN,May-2014,1,6,0.0,1.398917e+09,1.367381e+09,1.322716e+09,744177600.0,NaN,36,10,0.1,20000,0
1,1069742,1304855,36 months,Network Interpreting Service,6 years,RENT,77385.19,not verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,lowerratemeanseasiertogetoutofdebt!,921xx,CA,9.86,0,Jan-2001,0,NaN,NaN,8,0,7314,0.231,28,f,0.0,0.0,Jul-2012,NaN,Jul-2012,1,5,0.0,1.341115e+09,1.341115e+09,1.322716e+09,978325200.0,NaN,36,5,0.2,5000,0
2,1069469,1304526,36 months,"Stewart Enterprises, Inc.",10+ years,MORTGAGE,45600.00,not verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/16/11 > Debt Consolidat...,debt_consolidation,Debt-Consolidation,700xx,LA,5.34,0,Nov-1995,1,NaN,NaN,6,0,3378,0.325,28,f,0.0,0.0,Jul-2012,NaN,Jun-2012,1,3,0.0,1.338523e+09,1.341115e+09,1.322716e+09,815202000.0,NaN,36,5,0.3,0,0
3,1069287,1304171,36 months,Helicoil,10+ years,RENT,60000.00,not verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit Card Loan,067xx,CT,12.74,0,Sep-1992,1,NaN,NaN,11,0,14019,0.195,18,f,0.0,0.0,Jul-2012,NaN,Sep-2015,1,3,0.0,1.441080e+09,1.341115e+09,1.322716e+09,715320000.0,NaN,36,10,0.1,10000,0
4,1068967,1303403,36 months,CaseStack,4 years,RENT,53000.00,VERIFIED - income source,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,major_purchase,Auto Loan,908xx,CA,4.44,0,Oct-2000,0,NaN,NaN,7,0,8630,0.139,17,f,0.0,0.0,Jan-2015,NaN,Dec-2014,1,5,0.0,1.417410e+09,1.420088e+09,1.322716e+09,970372800.0,NaN,36,0,0.1,5000,0

In [13]:
# Quick grouping by default status.

(training
 .groupby('is_default')
 .agg({
       'member_id':['count'] 
       , 'annual_inc': ['mean']
       , 'open_acc': ['mean']
       , 'total_acc': ['mean']
       , 'revol_bal': ['mean']})
)

           member_id    annual_inc  open_acc  total_acc     revol_bal
               count          mean      mean       mean          mean
is_default
0.0            13923  69130.132510  9.331466  22.653092  12639.307190
1.0             1675  60833.222042  9.262090  22.192239  13279.952836

In [14]:
(training
 .groupby('is_default')
 .agg('mean')
)

,id,member_id,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,policy_code,random,last_credit_pull_epoch,last_pymnt_epoch,issue_epoch,earliest_cr_line_epoch,next_pymnt_epoch,term_months,debtToIncome_trunc,revol_util_trunc,revol_bal_trunc,previous_delinq
is_default,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,683982.258421,852156.272499,69130.132510,12.649244,0.091719,0.745744,37.341149,66.270655,9.331466,0.036486,12639.307190,0.396455,22.653092,0.000000,0.000000,1.0,3.973138,1.394487e+09,1.362964e+09,1.289156e+09,8.368114e+08,NaN,38.821806,10.165553,0.349098,9569.058393,0.272642
1.0,709365.280597,882135.790448,60833.222042,13.757982,0.140299,0.924179,37.304104,71.532258,9.262090,0.059104,13279.952836,0.483932,22.192239,0.053701,0.053701,1.0,4.100299,1.357574e+09,1.341358e+09,1.291637e+09,8.551533e+08,1.443672e+09,44.009552,11.229851,0.435467,10340.298507,0.320000

# Simple EDA

Looking for any basic correlations between variable and defaulting

In [15]:
def quick_eda(df,col):
    df[col] = df[col].fillna(-1)
    df['delinq_2yrs'] = df['delinq_2yrs'].fillna(0)
    
    n_records = len(df[col])
    
    df_return = (df
                .groupby(col)
                .agg({'is_default': ['count','mean']
                     , 'annual_inc': ['mean']
                     , 'delinq_2yrs': ['mean', 'max']
                     , 'open_acc': ['mean']})
                )
    df_return['percent_records'] = df_return['is_default']['count'] / n_records

        
    return(df_return)

### Homeownership

This looks interesting.  Convert to OHE and bucket 'none', 'other', and any new variables into one group

In [16]:
quick_eda(training,'home_ownership')

               is_default              annual_inc delinq_2yrs       open_acc  \
                    count      mean          mean        mean max       mean
home_ownership
MORTGAGE             7211  0.099293  81546.557766    0.101789   4  10.180003
NONE                    2  0.000000  71100.000000    0.000000   0   7.500000
OTHER                  40  0.175000  76016.225000    0.150000   3   8.700000
OWN                  1249  0.108086  59969.723819    0.098479   4   9.156125
RENT                 7096  0.115135  56127.003912    0.091460   8   8.487740

               percent_records

home_ownership
MORTGAGE              0.462303
NONE                  0.000128
OTHER                 0.002564
OWN                   0.080074
RENT                  0.454930

### Purpose of Loan

Interesting, but lots of unique values, with little support.  Only OHE the top variables (>4% of users) and bucket everything else into 'other'

In [17]:
quick_eda(training,'purpose').sort_values('percent_records', ascending=False)

                   is_default              annual_inc delinq_2yrs      \
                        count      mean          mean        mean max
purpose
debt_consolidation       6827  0.113520  65504.091482    0.087740   4
credit_card              2158  0.077386  68956.577873    0.073216   3
other                    1605  0.121495  64223.947414    0.119003   5
home_improvement         1266  0.082148  89198.778523    0.116114   4
major_purchase            991  0.066599  66842.812038    0.108981   4
car                       718  0.086351  64541.818315    0.103064   8
small_business            644  0.226708  74082.159565    0.135093   4
wedding                   372  0.091398  68839.751183    0.118280   6
medical                   289  0.110727  66012.067405    0.121107   3
moving                    251  0.147410  64051.027888    0.091633   3
vacation                  163  0.110429  60979.964479    0.128834   4
house                     146  0.109589  78294.409863    0.095890   2
educational               122  0.114754  57340.770820    0.049180   1
renewable_energy           46  0.195652  64446.239130    0.108696   3

                    open_acc percent_records
                        mean
purpose
debt_consolidation  9.648455        0.437684
credit_card         9.646895        0.138351
other               8.710280        0.102898
home_improvement    9.483412        0.081164
major_purchase      8.597376        0.063534
car                 8.771588        0.046032
small_business      8.675466        0.041287
wedding             8.741935        0.023849
medical             9.020761        0.018528
moving              8.665339        0.016092
vacation            8.656442        0.010450
house               8.890411        0.009360
educational         9.737705        0.007822
renewable_energy    9.260870        0.002949

### Debt to Income

This looks good!
 
Also, on the lending club website, they mention that any DTI ratio > 20% is 'high risk'.  Maybe create a factor variable if the DTI is high.

In [18]:
quick_eda(training,'debtToIncome_trunc')

                   is_default              annual_inc delinq_2yrs      \
                        count      mean          mean        mean max
debtToIncome_trunc
0                        2328  0.085481  82788.797126    0.093213   4
5                        3429  0.092447  74223.666556    0.101487   5
10                       3854  0.105345  67730.589533    0.106642   8
15                       3346  0.124925  62120.942292    0.097729   4
20                       2311  0.128083  56648.282371    0.085677   6
25                        330  0.118182  52559.587879    0.033333   2

                     open_acc percent_records
                         mean
debtToIncome_trunc
0                    7.185997        0.149250
5                    8.564013        0.219836
10                   9.596523        0.247083
15                  10.216975        0.214515
20                  10.627867        0.148160
25                  10.936364        0.021157

### Revol Util Income

Looks good!

In [19]:
quick_eda(training,'revol_util_trunc')

                 is_default              annual_inc delinq_2yrs      \
                      count      mean          mean        mean max
revol_util_trunc
-1.0                      7  0.428571  55057.142857    0.285714   2
 0.0                   2376  0.072811  70392.565901    0.112795   6
 0.1                   1850  0.075676  68579.986924    0.087027   3
 0.2                   1971  0.096905  65958.651745    0.112633   4
 0.3                   1899  0.095840  65532.732027    0.105845   5
 0.4                   1791  0.093244  67429.439693    0.084310   4
 0.5                   1625  0.117538  68196.478074    0.099692   5
 0.6                   1484  0.133423  66320.654036    0.069407   8
 0.7                   1138  0.149385  70768.396854    0.084359   4
 0.8                    889  0.143982  71942.376040    0.092238   2
 0.9                    568  0.232394  72069.976919    0.112676   3

                   open_acc percent_records
                       mean
revol_util_trunc
-1.0               3.285714        0.000449
 0.0               8.918350        0.152327
 0.1              10.000000        0.118605
 0.2               9.991375        0.126362
 0.3               9.720906        0.121746
 0.4               9.629816        0.114822
 0.5               9.282462        0.104180
 0.6               9.126011        0.095140
 0.7               8.941125        0.072958
 0.8               8.183352        0.056994
 0.9               7.475352        0.036415

### Previous Delinquency

Interesting, but low support with high values. Same goes with months since last delinquency.

The factorized version (previos_delinq) might be more promising.

In [20]:
quick_eda(training,'delinq_2yrs')

            is_default              annual_inc delinq_2yrs       open_acc  \
                 count      mean          mean        mean max       mean
delinq_2yrs
0                14408  0.104456  67895.222998           0   0   9.295183
1                  960  0.133333  72681.050687           1   1   9.667708
2                  163  0.171779  74159.430920           2   2   9.828221
3                   50  0.200000  59842.260000           3   3   9.060000
4                   13  0.153846  83876.923077           4   4  10.846154
5                    2  0.500000  41800.000000           5   5   5.500000
6                    1  0.000000  65000.000000           6   6  16.000000
8                    1  1.000000  67200.000000           8   8   7.000000

            percent_records

delinq_2yrs
0                  0.923708
1                  0.061546
2                  0.010450
3                  0.003206
4                  0.000833
5                  0.000128
6                  0.000064
8                  0.000064

In [21]:
quick_eda(training,'previous_delinq')

                is_default              annual_inc delinq_2yrs      open_acc  \
                     count      mean          mean        mean max      mean
previous_delinq
0                    11266  0.101101  67690.780830     0.00000   0  9.176993
1                     4332  0.123730  69665.315104     0.34903   8  9.706371

                percent_records

previous_delinq
0                      0.722272
1                      0.277728

In [22]:
quick_eda(training,'mths_since_last_delinq')

                       is_default              annual_inc delinq_2yrs      \
                            count      mean          mean        mean max
mths_since_last_delinq
-1.0                        11266  0.101101  67690.780830    0.000000   0
 0.0                          185  0.102703  71015.037838    0.000000   0
 1.0                            6  0.166667  62860.666667    1.333333   3
 2.0                           26  0.153846  96838.307692    1.384615   3
 3.0                           39  0.128205  76764.461538    1.564103   4
 4.0                           31  0.161290  62992.709677    1.354839   4
 5.0                           39  0.102564  87027.487179    1.179487   3
 6.0                           52  0.192308  72938.930769    1.461538   4
 7.0                           33  0.242424  65847.722424    1.181818   2
 8.0                           42  0.095238  86680.114286    1.404762   4
 9.0                           49  0.163265  91648.612245    1.367347   3
 10.0                          40  0.100000  74131.167000    1.275000   3
 11.0                          52  0.115385  72245.769231    1.134615   2
 12.0                          69  0.173913  66038.058551    1.449275   6
 13.0                          50  0.160000  73874.673600    1.440000   4
 14.0                          54  0.148148  68692.777778    1.407407   3
 15.0                          60  0.150000  70081.750000    1.250000   4
 16.0                          68  0.117647  64464.435294    1.235294   4
 17.0                          63  0.190476  64508.412698    1.238095   8
 18.0                          72  0.125000  78033.458333    1.125000   3
 19.0                          71  0.197183  61584.574366    1.239437   4
 20.0                          76  0.065789  65656.150000    1.210526   4
 21.0                          60  0.200000  77253.367333    1.216667   3
 22.0                          69  0.086957  62856.386087    1.115942   3
 23.0                          69  0.115942  80289.217391    1.043478   3
 24.0                          78  0.141026  71112.448718    0.000000   0
 25.0                          68  0.132353  73897.779412    0.000000   0
 26.0                          66  0.136364  64275.787879    0.000000   0
 27.0                          66  0.090909  69770.045455    0.000000   0
 28.0                          57  0.157895  74539.439298    0.000000   0
...                           ...       ...           ...         ...  ..
 58.0                          42  0.119048  76109.904762    0.000000   0
 59.0                          43  0.116279  62690.885581    0.000000   0
 60.0                          33  0.121212  66700.272727    0.000000   0
 61.0                          36  0.055556  69334.527778    0.000000   0
 62.0                          37  0.135135  66884.538378    0.000000   0
 63.0                          40  0.175000  52554.033750    0.000000   0
 64.0                          34  0.000000  70379.552941    0.000000   0
 65.0                          33  0.151515  74295.575758    0.000000   0
 66.0                          40  0.175000  72464.559000    0.000000   0
 67.0                          45  0.177778  64114.738000    0.000000   0
 68.0                          45  0.177778  60958.333333    0.000000   0
 69.0                          45  0.066667  69577.866667    0.000000   0
 70.0                          39  0.153846  66851.076923    0.000000   0
 71.0                          47  0.127660  65585.701277    0.000000   0
 72.0                          38  0.105263  63011.500000    0.000000   0
 73.0                          59  0.237288  70305.372034    0.000000   0
 74.0                          34  0.176471  66880.470588    0.000000   0
 75.0                          50  0.140000  64531.040000    0.000000   0
 76.0                          39  0.076923  66019.443077    0.000000   0
 77.0                          29  0.103448  69200.388966    0.000000   0
 78.0                          33  0.121212  60490.484848    0.000000   0
 79.0                          41  0.073171  64024.512195    0.000000   0
 80.0                          26  0.115385  62884.961538    0.000000   0
 81.0                          41  0.097561  70198.195122    0.000000   0
 82.0                          22  0.181818  79381.818182    0.000000   0
 83.0                           1  0.000000  58000.000000    0.000000   0
 97.0                           1  1.000000  60000.000000    0.000000   0
 103.0                          1  0.000000  76000.000000    0.000000   0
 106.0                          1  0.000000  42000.000000    0.000000   0
 107.0                          1  1.000000  55700.000000    0.000000   0

                         open_acc percent_records
                             mean
mths_since_last_delinq
-1.0                     9.176993        0.722272
 0.0                     9.594595        0.011860
 1.0                     8.166667        0.000385
 2.0                     8.769231        0.001667
 3.0                    10.871795        0.002500
 4.0                    11.806452        0.001987
 5.0                    10.102564        0.002500
 6.0                     9.615385        0.003334
 7.0                     9.878788        0.002116
 8.0                     9.571429        0.002693
 9.0                     9.387755        0.003141
 10.0                    9.600000        0.002564
 11.0                   10.115385        0.003334
 12.0                    9.362319        0.004424
 13.0                   10.080000        0.003206
 14.0                   11.037037        0.003462
 15.0                    9.550000        0.003847
 16.0                    8.985294        0.004360
 17.0                    9.555556        0.004039
 18.0                    9.819444        0.004616
 19.0                    9.281690        0.004552
 20.0                    9.131579        0.004872
 21.0                    9.716667        0.003847
 22.0                    8.666667        0.004424
 23.0                    9.840580        0.004424
 24.0                    9.269231        0.005001
 25.0                    9.382353        0.004360
 26.0                    9.242424        0.004231
 27.0                    9.151515        0.004231
 28.0                   10.070175        0.003654
...                           ...             ...
 58.0                    9.809524        0.002693
 59.0                   10.139535        0.002757
 60.0                   10.424242        0.002116
 61.0                    9.166667        0.002308
 62.0                    9.027027        0.002372
 63.0                    8.250000        0.002564
 64.0                    9.794118        0.002180
 65.0                   10.545455        0.002116
 66.0                    9.925000        0.002564
 67.0                   10.133333        0.002885
 68.0                    9.777778        0.002885
 69.0                   10.022222        0.002885
 70.0                   10.820513        0.002500
 71.0                    8.702128        0.003013
 72.0                    8.868421        0.002436
 73.0                   10.406780        0.003783
 74.0                   10.058824        0.002180
 75.0                    9.660000        0.003206
 76.0                   10.461538        0.002500
 77.0                    9.724138        0.001859
 78.0                   10.696970        0.002116
 79.0                    9.536585        0.002629
 80.0                    7.961538        0.001667
 81.0                   10.560976        0.002629
 82.0                    9.272727        0.001410
 83.0                    6.000000        0.000064
 97.0                    3.000000        0.000064
 103.0                  17.000000        0.000064
 106.0                   6.000000        0.000064
 107.0                  11.000000        0.000064

[89 rows x 7 columns]

In [23]:
quick_eda(training,'revol_bal_trunc')

                is_default               annual_inc delinq_2yrs      \
                     count      mean           mean        mean max
revol_bal_trunc
0                     5423  0.096072   58117.699924    0.130186   8
5000                  3543  0.110641   60285.111688    0.091730   4
10000                 2410  0.107884   66158.597627    0.082158   3
15000                 1427  0.119131   73211.748360    0.066573   3
20000                  859  0.138533   81134.812666    0.065192   2
25000                  567  0.097002   88136.522681    0.049383   2
30000                  332  0.123494   94809.021807    0.078313   4
35000                  236  0.080508  100046.818814    0.080508   2
40000                  170  0.129412   96171.417706    0.029412   4
45000                  119  0.201681  112099.781513    0.058824   2
50000                  512  0.101562  131390.209648    0.091797   2

                  open_acc percent_records
                      mean
revol_bal_trunc
0                 7.815047        0.347673
5000              9.162574        0.227145
10000             9.919917        0.154507
15000            10.308339        0.091486
20000            11.000000        0.055071
25000            11.294533        0.036351
30000            11.599398        0.021285
35000            11.529661        0.015130
40000            11.752941        0.010899
45000            11.487395        0.007629
50000            12.080078        0.032825

In [24]:
quick_eda(training,'open_acc')

         is_default               annual_inc delinq_2yrs     open_acc  \
              count      mean           mean        mean max     mean
open_acc
2               173  0.156069   47844.267514    0.086705   5        2
3               408  0.147059   48269.467549    0.095588   4        3
4               824  0.117718   54327.037961    0.077670   3        4
5              1219  0.095160   55593.098302    0.086957   4        5
6              1714  0.108518   60930.432596    0.085181   3        6
7              1679  0.097677   63982.530256    0.097677   8        7
8              1587  0.109641   64676.281834    0.100819   3        8
9              1502  0.108522   68223.138269    0.100533   5        9
10             1304  0.119632   71643.144425    0.098160   4       10
11             1101  0.101726   74882.478910    0.098093   4       11
12              938  0.095949   80805.764264    0.101279   4       12
13              755  0.101987   77514.849364    0.099338   3       13
14              569  0.100176   77711.995290    0.084359   2       14
15              470  0.127660   80250.666830    0.110638   4       15
16              362  0.069061   82562.802983    0.146409   6       16
17              283  0.098940   89679.581802    0.102473   3       17
18              216  0.101852   84334.298148    0.074074   2       18
19              159  0.125786   85151.735660    0.100629   2       19
20              111  0.108108   88919.189189    0.153153   4       20
21               90  0.100000   79292.831111    0.100000   2       21
22               41  0.073171   70148.731707    0.121951   2       22
23               21  0.047619   63157.142857    0.142857   2       23
24               18  0.166667   73528.944444    0.166667   2       24
25               13  0.307692   77015.384615    0.384615   4       25
26               12  0.166667  136388.666667    0.166667   2       26
27                4  0.250000  102651.500000    0.000000   0       27
28                6  0.166667   91233.333333    0.000000   0       28
29                1  0.000000  200000.000000    0.000000   0       29
30                4  0.000000  109996.250000    0.250000   1       30
31                3  0.333333   47132.000000    0.333333   1       31
32                2  0.000000   71150.000000    0.000000   0       32
33                2  1.000000   53250.000000    0.500000   1       33
34                2  0.500000   84400.000000    0.000000   0       34
35                1  0.000000   60000.000000    0.000000   0       35
36                1  0.000000  110000.000000    0.000000   0       36
38                1  1.000000   62900.000000    0.000000   0       38
41                1  0.000000   75000.000000    0.000000   0       41
44                1  0.000000  135000.000000    0.000000   0       44

         percent_records

open_acc
2               0.011091
3               0.026157
4               0.052827
5               0.078151
6               0.109886
7               0.107642
8               0.101744
9               0.096294
10              0.083600
11              0.070586
12              0.060136
13              0.048404
14              0.036479
15              0.030132
16              0.023208
17              0.018143
18              0.013848
19              0.010194
20              0.007116
21              0.005770
22              0.002629
23              0.001346
24              0.001154
25              0.000833
26              0.000769
27              0.000256
28              0.000385
29              0.000064
30              0.000256
31              0.000192
32              0.000128
33              0.000128
34              0.000128
35              0.000064
36              0.000064
38              0.000064
41              0.000064
44              0.000064

In [25]:
quick_eda(training,'emp_title').sort_values('percent_records', ascending=False)

                                     is_default               annual_inc  \
                                          count      mean           mean
emp_title
-1                                         1074  0.148976   65272.332886
US Army                                      42  0.095238   71916.751429
Bank of America                              41  0.097561   72169.194878
IBM                                          26  0.115385  112010.615385
AT&T                                         20  0.200000   85457.450000
Lockheed Martin                              20  0.000000  159946.350000
UPS                                          20  0.000000   70896.000000
Wells Fargo                                  19  0.052632   61316.000000
US Air Force                                 18  0.111111   74116.291111
Kaiser Permanente                            17  0.176471   79564.941176
USPS                                         17  0.000000   55482.117647
United States Air Force                      17  0.117647   64206.310588
State of California                          17  0.117647   60159.625882
Northrop Grumman                             16  0.125000   73851.687500
USAF                                         16  0.000000   66633.812500
Verizon Wireless                             15  0.066667   55000.266667
Morgan Stanley                               14  0.071429   91535.714286
U.S. Army                                    14  0.071429  114883.714286
Retired                                      14  0.214286   64749.880000
Self Employed                                14  0.142857   62314.285714
Verizon                                      14  0.071429   88213.691429
Department of Defense                        14  0.142857   73973.500000
US Navy                                      13  0.000000   72446.153846
Wells Fargo Bank                             12  0.083333   60534.000000
Self                                         12  0.083333   64684.583333
Fidelity Investments                         12  0.083333   87597.166667
us army                                      12  0.166667   69796.333333
Accenture                                    12  0.000000   88108.333333
Walgreens                                    12  0.083333   74413.500000
Social Security Administration               12  0.083333   94062.500000
...                                         ...       ...            ...
Hamburg Casino at the Fairgrounds             1  0.000000   65000.000000
Hamilton Sundstrand                           1  0.000000   72000.000000
Hammmersmith Builders                         1  0.000000   75000.000000
Hampshire GI Associates                       1  0.000000   49244.000000
Hampton Inn & Suites                          1  0.000000   25000.000000
Hampton Inn Soho                              1  0.000000  102000.000000
Hampton VAMC                                  1  0.000000   69476.000000
Hackettstown Regional Medical Center          1  0.000000   75000.000000
Hackettstown High School                      1  0.000000   61000.000000
Habitat For Humanity International            1  1.000000   79000.000000
HOSSLEY LIGHTING ASSOCIATES, INC.             1  0.000000   86000.000000
HNW                                           1  0.000000  119500.000000
HOLMES HONDA                                  1  1.000000   80000.000000
HOLY TRINITY EPISCOPAL DAY SCHOOL             1  0.000000   51000.000000
HOLZER CLINIC                                 1  0.000000   36900.000000
HOME DEPOT                                    1  0.000000   35000.000000
HONDA CARS OF CORONA                          1  1.000000   90000.000000
HONDA MANUFACTURING                           1  0.000000   70000.000000
HOPE Consulting Inc.                          1  0.000000   72000.000000
HP/EDS                                        1  0.000000   83000.000000
Haas School of Business                       1  0.000000    9600.000000
HR Block Inc                                  1  0.000000   43000.000000
HSB Global Standards                          1  0.000000   63000.000000
HSBC Arena                                    1  0.000000   70000.000000
HSBC Bank                                     1  0.000000  131004.000000
HSBC Bank USA, NA                             1  0.000000   87000.000000
HUB International Insurance Services          1  0.000000   95000.000000
HYATT REGENCY IRVINE                          1  1.000000   40040.000000
HYDRAFLOW                                     1  0.000000   55000.000000
zoll medical corp                             1  0.000000   35000.000000

                                     delinq_2yrs       open_acc  \
                                            mean max       mean
emp_title
-1                                      0.085661   3   8.639665
US Army                                 0.119048   2   8.380952
Bank of America                         0.048780   1   9.658537
IBM                                     0.076923   1  10.653846
AT&T                                    0.100000   1   9.200000
Lockheed Martin                         0.400000   2  11.000000
UPS                                     0.200000   1   8.450000
Wells Fargo                             0.000000   0   8.315789
US Air Force                            0.000000   0   9.388889
Kaiser Permanente                       0.058824   1  11.411765
USPS                                    0.117647   1   8.352941
United States Air Force                 0.000000   0   8.823529
State of California                     0.058824   1   8.705882
Northrop Grumman                        0.000000   0  10.312500
USAF                                    0.312500   2   7.062500
Verizon Wireless                        0.066667   1   9.533333
Morgan Stanley                          0.142857   1  10.785714
U.S. Army                               0.142857   1   7.714286
Retired                                 0.142857   2  10.285714
Self Employed                           0.142857   2   9.357143
Verizon                                 0.071429   1   8.000000
Department of Defense                   0.214286   1   9.357143
US Navy                                 0.153846   2   8.000000
Wells Fargo Bank                        0.000000   0   8.583333
Self                                    0.000000   0   6.000000
Fidelity Investments                    0.000000   0  11.666667
us army                                 0.083333   1   8.500000
Accenture                               0.333333   2   8.583333
Walgreens                               0.083333   1  11.750000
Social Security Administration          0.250000   1  11.083333
...                                          ...  ..        ...
Hamburg Casino at the Fairgrounds       0.000000   0   7.000000
Hamilton Sundstrand                     0.000000   0  14.000000
Hammmersmith Builders                   0.000000   0   7.000000
Hampshire GI Associates                 0.000000   0  11.000000
Hampton Inn & Suites                    0.000000   0  12.000000
Hampton Inn Soho                        0.000000   0   9.000000
Hampton VAMC                            0.000000   0  13.000000
Hackettstown Regional Medical Center    1.000000   1  19.000000
Hackettstown High School                0.000000   0   8.000000
Habitat For Humanity International      0.000000   0  12.000000
HOSSLEY LIGHTING ASSOCIATES, INC.       0.000000   0   6.000000
HNW                                     0.000000   0   9.000000
HOLMES HONDA                            1.000000   1   7.000000
HOLY TRINITY EPISCOPAL DAY SCHOOL       0.000000   0  14.000000
HOLZER CLINIC                           0.000000   0   3.000000
HOME DEPOT                              0.000000   0  14.000000
HONDA CARS OF CORONA                    0.000000   0   6.000000
HONDA MANUFACTURING                     0.000000   0  12.000000
HOPE Consulting Inc.                    0.000000   0  11.000000
HP/EDS                                  0.000000   0  18.000000
Haas School of Business                 0.000000   0   4.000000
HR Block Inc                            0.000000   0   8.000000
HSB Global Standards                    0.000000   0   9.000000
HSBC Arena                              0.000000   0  14.000000
HSBC Bank                               0.000000   0   8.000000
HSBC Bank USA, NA                       0.000000   0  15.000000
HUB International Insurance Services    0.000000   0  13.000000
HYATT REGENCY IRVINE                    0.000000   0   8.000000
HYDRAFLOW                               0.000000   0   5.000000
zoll medical corp                       1.000000   1  12.000000

                                     percent_records

emp_title
-1                                          0.068855
US Army                                     0.002693
Bank of America                             0.002629
IBM                                         0.001667
AT&T                                        0.001282
Lockheed Martin                             0.001282
UPS                                         0.001282
Wells Fargo                                 0.001218
US Air Force                                0.001154
Kaiser Permanente                           0.001090
USPS                                        0.001090
United States Air Force                     0.001090
State of California                         0.001090
Northrop Grumman                            0.001026
USAF                                        0.001026
Verizon Wireless                            0.000962
Morgan Stanley                              0.000898
U.S. Army                                   0.000898
Retired                                     0.000898
Self Employed                               0.000898
Verizon                                     0.000898
Department of Defense                       0.000898
US Navy                                     0.000833
Wells Fargo Bank                            0.000769
Self                                        0.000769
Fidelity Investments                        0.000769
us army                                     0.000769
Accenture                                   0.000769
Walgreens                                   0.000769
Social Security Administration              0.000769
...                                              ...
Hamburg Casino at the Fairgrounds           0.000064
Hamilton Sundstrand                         0.000064
Hammmersmith Builders                       0.000064
Hampshire GI Associates                     0.000064
Hampton Inn & Suites                        0.000064
Hampton Inn Soho                            0.000064
Hampton VAMC                                0.000064
Hackettstown Regional Medical Center        0.000064
Hackettstown High School                    0.000064
Habitat For Humanity International          0.000064
HOSSLEY LIGHTING ASSOCIATES, INC.           0.000064
HNW                                         0.000064
HOLMES HONDA                                0.000064
HOLY TRINITY EPISCOPAL DAY SCHOOL           0.000064
HOLZER CLINIC                               0.000064
HOME DEPOT                                  0.000064
HONDA CARS OF CORONA                        0.000064
HONDA MANUFACTURING                         0.000064
HOPE Consulting Inc.                        0.000064
HP/EDS                                      0.000064
Haas School of Business                     0.000064
HR Block Inc                                0.000064
HSB Global Standards                        0.000064
HSBC Arena                                  0.000064
HSBC Bank                                   0.000064
HSBC Bank USA, NA                           0.000064
HUB International Insurance Services        0.000064
HYATT REGENCY IRVINE                        0.000064
HYDRAFLOW                                   0.000064
zoll medical corp                           0.000064

[12235 rows x 7 columns]

In [26]:
quick_eda(training,'term')

           is_default              annual_inc delinq_2yrs      open_acc  \
                count      mean          mean        mean max      mean
term
 36 months      13402  0.083271  67152.288106    0.090807   6  9.245859
 60 months       2196  0.254554  74872.275346    0.134335   8  9.801002

           percent_records

term
 36 months        0.859213
 60 months        0.140787

In [27]:
quick_eda(training,'mths_since_last_record')

                       is_default               annual_inc delinq_2yrs      \
                            count      mean           mean        mean max
mths_since_last_record
-1.0                        14772  0.104996   68359.171174    0.096534   6
 0.0                          234  0.115385   73637.384615    0.094017   3
 7.0                            1  1.000000   60000.000000    0.000000   0
 17.0                           1  1.000000   45000.000000    0.000000   0
 21.0                           1  0.000000   50000.000000    1.000000   1
 22.0                           1  0.000000  103000.000000    0.000000   0
 23.0                           1  0.000000   25000.000000    0.000000   0
 25.0                           1  0.000000   61200.000000    0.000000   0
 27.0                           2  0.000000   65750.000000    0.500000   1
 28.0                           1  0.000000   31600.000000    0.000000   0
 29.0                           1  0.000000   75000.000000    0.000000   0
 30.0                           1  0.000000   26000.000000    0.000000   0
 31.0                           1  0.000000   45000.000000    0.000000   0
 33.0                           1  0.000000   60000.000000    0.000000   0
 35.0                           1  0.000000  100000.000000    0.000000   0
 36.0                           1  0.000000   75996.000000    0.000000   0
 38.0                           3  0.000000   34666.666667    0.000000   0
 40.0                           1  1.000000   51449.000000    0.000000   0
 41.0                           2  0.000000   32300.000000    0.000000   0
 42.0                           1  0.000000   54996.000000    0.000000   0
 43.0                           2  0.500000   15306.000000    0.000000   0
 44.0                           3  0.333333   65232.666667    0.000000   0
 45.0                           1  0.000000   59393.000000    0.000000   0
 47.0                           1  0.000000   53800.000000    0.000000   0
 48.0                           1  0.000000   39000.000000    0.000000   0
 49.0                           3  0.666667   91666.666667    0.333333   1
 50.0                           5  0.200000   80480.000000    0.000000   0
 52.0                           3  0.000000   53000.000000    0.000000   0
 53.0                           4  0.250000   55750.000000    0.000000   0
 54.0                           1  0.000000  101040.000000    0.000000   0
...                           ...       ...            ...         ...  ..
 91.0                          21  0.238095   53298.666667    0.000000   0
 92.0                          12  0.083333   50456.050000    0.000000   0
 93.0                          20  0.150000   69782.500000    0.000000   0
 94.0                          15  0.200000  119966.666667    0.066667   1
 95.0                          12  0.166667   53969.013333    0.166667   1
 96.0                          16  0.125000   63929.687500    0.125000   1
 97.0                          18  0.166667   63656.666667    0.166667   2
 98.0                          15  0.333333   62320.546667    0.600000   8
 99.0                          14  0.071429   54931.285714    0.071429   1
 100.0                         15  0.266667   61121.866667    0.066667   1
 101.0                         13  0.076923   76692.307692    0.000000   0
 102.0                         16  0.125000   60852.000000    0.125000   1
 103.0                         14  0.142857   58050.057143    0.000000   0
 104.0                         19  0.263158   55770.324211    0.105263   1
 105.0                          9  0.222222   81322.222222    0.222222   1
 106.0                         11  0.363636   58514.181818    0.090909   1
 107.0                         16  0.187500   56405.180000    0.062500   1
 108.0                         17  0.058824   62258.964706    0.000000   0
 109.0                         13  0.153846   51563.615385    0.615385   5
 110.0                         19  0.052632   64153.157895    0.052632   1
 111.0                         17  0.235294   70387.529412    0.294118   3
 112.0                         16  0.000000   56311.750000    0.000000   0
 113.0                         15  0.133333  111992.853333    0.133333   2
 114.0                         11  0.090909   55737.818182    0.090909   1
 115.0                          8  0.000000   56323.875000    0.000000   0
 116.0                         12  0.250000   52508.333333    0.166667   1
 117.0                         12  0.166667   49158.333333    0.083333   1
 118.0                         13  0.153846   49829.400000    0.076923   1
 119.0                          1  0.000000   17220.000000    0.000000   0
 120.0                          1  0.000000   48000.000000    0.000000   0

                         open_acc percent_records
                             mean
mths_since_last_record
-1.0                     9.324871        0.947044
 0.0                     9.679487        0.015002
 7.0                    20.000000        0.000064
 17.0                   10.000000        0.000064
 21.0                    5.000000        0.000064
 22.0                    7.000000        0.000064
 23.0                    4.000000        0.000064
 25.0                    6.000000        0.000064
 27.0                    7.500000        0.000128
 28.0                    4.000000        0.000064
 29.0                    3.000000        0.000064
 30.0                    5.000000        0.000064
 31.0                   12.000000        0.000064
 33.0                    5.000000        0.000064
 35.0                   16.000000        0.000064
 36.0                    4.000000        0.000064
 38.0                    8.666667        0.000192
 40.0                   15.000000        0.000064
 41.0                    6.000000        0.000128
 42.0                    7.000000        0.000064
 43.0                    9.000000        0.000128
 44.0                    5.000000        0.000192
 45.0                   12.000000        0.000064
 47.0                    4.000000        0.000064
 48.0                    6.000000        0.000064
 49.0                    4.333333        0.000192
 50.0                   10.400000        0.000321
 52.0                    9.000000        0.000192
 53.0                    8.750000        0.000256
 54.0                   17.000000        0.000064
...                           ...             ...
 91.0                    7.809524        0.001346
 92.0                    9.333333        0.000769
 93.0                    9.750000        0.001282
 94.0                    9.466667        0.000962
 95.0                    8.416667        0.000769
 96.0                    9.687500        0.001026
 97.0                    9.000000        0.001154
 98.0                    7.733333        0.000962
 99.0                    9.071429        0.000898
 100.0                   9.266667        0.000962
 101.0                  12.153846        0.000833
 102.0                   8.812500        0.001026
 103.0                   9.714286        0.000898
 104.0                   9.736842        0.001218
 105.0                  10.000000        0.000577
 106.0                   8.636364        0.000705
 107.0                   8.875000        0.001026
 108.0                  10.235294        0.001090
 109.0                   7.000000        0.000833
 110.0                  10.368421        0.001218
 111.0                   9.647059        0.001090
 112.0                   8.500000        0.001026
 113.0                   7.533333        0.000962
 114.0                   9.727273        0.000705
 115.0                   8.875000        0.000513
 116.0                  10.333333        0.000769
 117.0                   9.166667        0.000769
 118.0                   9.076923        0.000833
 119.0                   7.000000        0.000064
 120.0                   3.000000        0.000064

[89 rows x 7 columns]